@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  @apply bg-neutral-700 text-gray-200;
}

.title {
  @apply flex justify-center font-bold text-3xl px-10;
}

.word-input {
  @apply block
        w-full px-3 py-1.5
        text-base font-normal
        text-gray-900
        bg-gray-200 bg-clip-padding
        border border-solid border-gray-200
        rounded
        transition
        ease-in-out
        m-0
        focus:bg-white focus:border-blue-600 focus:outline-none;
}
